.navbar {
    display: flex;
    height: 11vh;
    width: 100%;
    top: 0;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    overflow: hidden;
  }

.navbar .navbar-logo img {
    max-width: auto;  
    height:11vh;
    margin-top: 0px; 
    margin-left: 25px;
  }

.navbar .elements{
    display: flex;
    align-items: center;
    gap: 1%;
  }


.navbar .navbar-links {
    transform: translateX(-2.5em);
    margin: 0;
    padding: 0;
    list-style:none;
    display: flex;
    gap: 2.5%; 
    align-items: center;
}

.navbar .links a {
    text-decoration: none;
    z-index: -1;
    color: #fff; 
    font-size: 26px;  
    font-weight: bold; 
}
.navbar .links{
    white-space: nowrap; 
}

.navbar .navbar-links li {
    font-family: Barlow Condensed, sans-serif; 
}

.navbar .navbar-icon{
    z-index: 0;
    margin-right: 1.5vw;
    display: block;
}
.navbar .navbar-icon img{
    width: 30px;
    height: 30px;
}

