.navbar {
    display: flex;
    height: 11vh;
    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    overflow: hidden;
    padding: 0;
  }

.navbar-logo img {
    width: auto;  
    height:11vh;
    margin-top: 0px; 
    margin-left: 25px;
  }

  .elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1%;
  }


.navbar-links {
    transform: translateX(-8em);
    margin: 0;
    padding: 0;
    list-style:none;
    display: flex;
    gap: 2.5%; 
    align-items: center;
}

.links a {
    text-decoration: none;
    color: #fff; 
    font-size: 26px;  
    font-weight: bold; 
}
.links{
    white-space: nowrap; 
}

.navbar-links li {
    font-family: Barlow Condensed, sans-serif; 
}

.lucide-menu{
    z-index: 20;
    position: fixed;
    right: 1vw;
    top: 1vh;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    width: 25vw;
    background-color: #575a5e;
}

.sidebar .sidebar-links{
  height: 100vh;
  margin-top: 10vh;
}
.sidebar-links ul{
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: end;
  justify-content: center;
  gap: 5vh;
}

.sidebar li{
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.sidebar a{
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 1.8  rem;
  font-weight: bold;
}
