body{
  width: 100%;
  height: 100%;
  margin: 0;
}

.mainpage{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.tt{
  position: relative;
  height: 120vh;
}   
.page{
  position: relative;
}

#video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.maincontainer{
  animation: shade 12s forwards;
}

@keyframes shade{
  0%,80%{
    background-color: transparent;
  }


  100%{
    background-color: rgba(0,0,0,.7);
  }    
}
