.mainbody{
    display: flex;
    color: white;
    margin-top:7vh;
    margin-left:10vw;
    position: absolute;
    background-color: transparent;
}

.mainbody-heading{
    font-size: 9rem;
    font-weight: bold;
    font-family: Barlow Condensed, sans-serif;
    display: flex ;
    flex-direction: column;
    text-shadow: 3px 3px 2px grey;
}
