.mainbody{
    display: flex;
    color: white;
    margin-top:50px;
    margin-left:10%;
}

.mainbody-heading{
    font-size: 85px;
    font-weight: bold;
    font-family: Barlow Condensed, sans-serif;
    display: inline-block;
    text-shadow: 3px 3px 2px grey;
}